*{
    box-sizing: border-box;
}

body{
    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    /* font-family: 'Reenie Beanie', cursive; */
    font-family: 'Walter Turncoat', cursive;

}

header{
    text-align: center;
    margin-top: 20%;
}

main{
    background-color: white;
    opacity: 0.6;
    width: 80%;
    margin: auto;
    padding: 2.5% 0;
}

.middle-section{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.side-player-one{
    padding-left: 10%;
}

.side-player-two{
    padding-right: 10%;
}

.scoreBox{
    margin: 20px;
    border: 1px solid black;
    height: 40%;
}

.scoreBox p{
    text-align: center;
}

.scoreTally{
    text-align: center;
}

.players{
    text-align: center;
    margin: 50% 0 20% 0;
    padding: 7px;
}

.playerTurn{
    border: 2px solid #39ff14;
    border-radius: 20px;
    box-shadow: 2px 2px 5px green;

}

.oneSquare{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    font-size: 70px;
    text-align: center;
}

.oneSquare:hover{
    cursor: pointer;
}

.theGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    margin: auto;
}

.theRulesHeading{
    padding-left: 2%;
}

.results-div{
    text-align: center;
    padding: 10px;
    height:25%;
}

.result-btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* need to put oneSquares into a div and put a class = "wrapper"
.disableCursor:hover{
    cursor: none;
} */
